@import 'mixins';

.redbg{
    background-color: #e05a5b;
}

.greenbg{
    background-color: #059862 ;
}

.result-container{
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;

    i{
        position: absolute;
        right: -120px;
        font-size: 2rem;
        cursor: pointer;

        &:hover{
            color: #9c8484;
        }

        &:active{
            transform: scale(0.99);
        }
    }
}

body{
    background-color: #252631;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.2s ease-in-out;


    h1{
       padding: 20px 0;
       margin: 0;
       background-color: #fff;
       text-align: center;
    }
}

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    color: #fff;
    .result{
        position: relative;
        border: 2px solid #fff;
        border-radius: 5px;
        width: 250px;
        height: 100px;
        text-align: center;
        font-size: xx-large;
        display: flex;
        align-items: center;
        justify-content: center;

        div.user{
            position: absolute;
            left: -50px;
            background-color: #e05a5b;
            width: 90px;
            font-size: 1.5rem;
            
        }

        div.computer{
            position: absolute;
            right: -50px;
            background-color: #e05a5b;
            width: 90px;
            font-size: 1.5rem;
            
        }
    }
    .message{
        font-size: 3rem;
    }
}

.choices-container{

    display: flex;
    gap: 50px;
    

    &-rock{
        @include circle-container;
        h2{
            font-size: 6rem;
            transform: rotate(-90deg);
            user-select: none;
        }

        &:hover{
            border: 5px solid #9c8484;
            
        }
    }

    &-paper{
        @include circle-container;
        h2{
            font-size: 6rem;
            transform: rotate();
            user-select: none;
        }
        
        &:hover{
             border: 5px solid #9c8484;
        }
    }

    &-scissors{
        @include circle-container;
        h2{
            font-size: 6rem;
            transform: scaleX(-1) rotate(-90deg);
            user-select: none;
            
        }

        &:hover{
             border: 5px solid #9c8484;
        }
    }
}